.footer {
	background: #000;
	padding: 10px;
}

.footer__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer__logo--logo {
	.logo__link {
		font-size: 20px;
	}
}

.footer__logout--logout {
	.logout__btn {
		font-size: 14px;
		color: #fff
	}
}